RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^busca.php /busca.hhvm [QSA,L]
RewriteRule ^busca_cep.php /busca_cep.hhvm [QSA,L]
RewriteRule ^cadastro.php /cadastro.hhvm [QSA,L]
RewriteRule ^cobertura.php /cobertura.hhvm [QSA,L]
RewriteRule ^confirmacao.php /confirmacao.hhvm [QSA,L]
RewriteRule ^contrato.php /contrato.hhvm [QSA,L]
RewriteRule ^down.php /down.hhvm [QSA,L]
RewriteRule ^downloads.php /downloads.hhvm [QSA,L]
RewriteRule ^empresa.php /empresa.hhvm [QSA,L]
RewriteRule ^executar.php /executar.hhvm [QSA,L]
RewriteRule ^fale.php /fale.hhvm [QSA,L]
RewriteRule ^faq.php /faq.hhvm [QSA,L]
RewriteRule ^index.php /index.hhvm [QSA,L]
RewriteRule ^links.php /links.hhvm [QSA,L]
RewriteRule ^newsletter.php /newsletter.hhvm [QSA,L]
RewriteRule ^noticia.php /noticia.hhvm [QSA,L]
RewriteRule ^noticias.php /noticias.hhvm [QSA,L]
RewriteRule ^pagina.php /pagina.hhvm [QSA,L]
RewriteRule ^planos.php /planos.hhvm [QSA,L]
RewriteRule ^secure.php /secure.hhvm [QSA,L]
RewriteRule ^suporte.php /suporte.hhvm [QSA,L]
RewriteRule ^tecnologia.php /tecnologia.hhvm [QSA,L]
RewriteRule ^validarsms.php /validarsms.hhvm [QSA,L]
RewriteRule ^([a-zA-Z0-9\/]+)$ index.hhvm?$1 [NC,L]
