<!-- BEGIN BLOCK_COMLOGOSVA -->
<!-- END BLOCK_COMLOGOSVA -->

<!-- BEGIN BLOCK_SEMLOGOSVA -->
<!-- END BLOCK_SEMLOGOSVA -->

<!-- BEGIN BLOCK_KK -->
<!-- BEGIN BLOCK_DADOSKK -->
<!-- END BLOCK_DADOSKK -->
<!-- END BLOCK_KK -->

<!-- BEGIN BLOCK_K -->
<!-- BEGIN BLOCK_DADOSK -->
<!-- END BLOCK_DADOSK -->
<!-- END BLOCK_K -->

<!-- BEGIN BLOCK_Z -->
<!-- BEGIN BLOCK_DADOSZ -->
<!-- END BLOCK_DADOSZ -->
<!-- END BLOCK_Z -->

<table width="770" border="0" cellpadding="2" cellspacing="3">
<tr>
<td><table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth01" align="right">corte na linha pontilhada</td>
</tr>
</table>
<table style="border-top: 1px dotted rgb(0, 0, 0); border-bottom: 1px dotted rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td height="10"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
</tr>
<tr>
<td height="345"><table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0" height="28">
<tr>
<td>{LOGOMARCA}</td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">Número do Documento </td>
</tr>
<tr>
<td class="mkauth05" align="right"> {NUMERO_DOCUMENTO} </td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">Vencimento</td>
</tr>
<tr>
<td class="mkauth05" align="right"> {DATA_VENC} </td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04"> Agência/Código </td>
</tr>
<tr>
<td class="mkauth05" align="right"> {AGENCIA_CODIGO} </td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">Nosso Número</td>
</tr>
<tr>
<td class="mkauth05" align="right"> {NOSSO_NUMERO} </td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">Espécie</td>
</tr>
<tr>
<td class="mkauth05" align="right"> {ESPECIE} </td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">(=) Valor do Documento</td>
</tr>
<tr>
<td class="mkauth05" align="right"> {VALOR_BOLETO} </td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">(–) Desconto/Abatimento </td>
</tr>
<tr>
<td class="mkauth05" align="right">&nbsp;</td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">(–) Outras Deduções </td>
</tr>
<tr>
<td class="mkauth05" align="right">&nbsp;</td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">(+) Mora/Multa </td>
</tr>
<tr>
<td class="mkauth05" align="right">&nbsp;</td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">(+) Outros Acrécimos </td>
</tr>
<tr>
<td class="mkauth05" align="right">&nbsp;</td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">(=) Valor Cobrado </td>
</tr>
<tr>
<td class="mkauth05" align="right">&nbsp;</td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">CPF/CNPJ</td>
</tr>
<tr>
<td class="mkauth05">{SACADO_CPF}</td>
</tr>
</table></td>
</tr>
</table>

<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="150" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top" width="150"><table width="150" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04"> Beneficiário </td>
</tr>
<tr>
<td class="mkauth05">{CEDENTE}</td>
</tr>
</table></td>
</tr>
</table>

</td>
<td valign="top" width="15">&nbsp;</td>
<td valign="top"><table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0" height="28">
<tr>
<td>{LOGOMARCA}</td>
<td style="border-left: 1px solid rgb(0, 0, 0); border-right: 1px solid rgb(0, 0, 0);" width="45" align="center"><font class="mkauth02"> {CODIGO_BANCO_COM_DV} </font></td>
<td class="mkauth06" valign="bottom" align="right"> {LINHA_DIGITAVEL} </td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">Local de Pagamento </td>
</tr>
<tr>
<td class="mkauth05"> {LOCAL_PAGAMENTO} </td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top" width="120"><table width="120" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">Vencimento</td>
</tr>
<tr>
<td class="mkauth05" align="right"> {DATA_VENC} </td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">Beneficiário</td>
</tr>
<tr>
<td class="mkauth05"> {CEDENTE} </td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top" width="120"><table width="120" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04"> Agência/Código </td>
</tr>
<tr>
<td class="mkauth05" align="right"> {AGENCIA_CODIGO} </td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">Data  Doc. </td>
</tr>
<tr>
<td class="mkauth05"> {DATA_DOCUMENTO} </td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">Número Doc. </td>
</tr>
<tr>
<td class="mkauth05"> {NUMERO_DOCUMENTO} </td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">Espécie  Doc. </td>
</tr>
<tr>
<td class="mkauth05"> {ESPECIE} </td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">Aceite</td>
</tr>
<tr>
<td class="mkauth05">N&nbsp;</td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">Data  Processamento </td>
</tr>
<tr>
<td class="mkauth05"> {DATA_PROC} </td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top" width="120"><table width="120" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">Nosso Número </td>
</tr>
<tr>
<td class="mkauth05" align="right"> {NOSSO_NUMERO} </td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04">Uso do Banco </td>
</tr>
<tr>
<td class="mkauth05">&nbsp;</td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">Carteira</td>
</tr>
<tr>
<td class="mkauth05"> {CARTEIRA} {VAR_CARTEIRA} </td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">Espécie</td>
</tr>
<tr>
<td class="mkauth05" height="12"> {ESPECIE_DOC} </td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">Quantidade</td>
</tr>
<tr>
<td class="mkauth05"><!-- {QUANTIDADE} --></td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">Valor</td>
</tr>
<tr>
<td class="mkauth05"><!-- {VALOR_UNITARIO} --></td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top" width="120"><table width="120" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">(=) Valor do Documento </td>
</tr>
<tr>
<td class="mkauth05" align="right"> {VALOR_BOLETO} </td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="5" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td height="1" class="mkauth04"> Instruções de responsabilidade do Beneficiário. <br />
Qualquer dúvida sobre este boleto, contate o beneficiário. </td>
<td width="1" rowspan="2"><img src="{QRCODE}" width="100" height="100" hspace="1" vspace="1" /></td>
</tr>
<tr>
<td class="mkauth05">

<!-- BEGIN BLOCK_INSTAUTO -->
{TEXTO_MULTAMORA} <br />
<!-- END BLOCK_INSTAUTO -->
{INSTRUCOES1} <br />
{INSTRUCOES2} <br />
{INSTRUCOES3} <br />
{INSTRUCOES4} <br />
{INSTRUCOES5} <br />
<!-- BEGIN BLOCK_REFERENCIA -->
referente ao m&ecirc;s {REFERENCIA} <br />
<!-- END BLOCK_REFERENCIA --></td>
</tr>
</table></td>
<td style="border-left: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0);" valign="top"><table width="120" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">(–) Desconto/Abatimento </td>
</tr>
<tr>
<td class="mkauth05" align="right">&nbsp;</td>
</tr>
</table></td>
</tr>
<tr>
<td style="border-left: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0);" valign="top"><table width="120" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">(–) Outras Deduções </td>
</tr>
<tr>
<td class="mkauth05" align="right">&nbsp;</td>
</tr>
</table></td>
</tr>
<tr>
<td style="border-left: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0);" valign="top"><table width="120" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">(+) Mora/Multa </td>
</tr>
<tr>
<td class="mkauth05" align="right">&nbsp;</td>
</tr>
</table></td>
</tr>
<tr>
<td style="border-left: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0);" valign="top" width="120"><table width="120" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">(+) Outros Acrécimos </td>
</tr>
<tr>
<td class="mkauth05" align="right">&nbsp;</td>
</tr>
</table></td>
</tr>
<tr>
<td style="border-left: 1px solid rgb(0, 0, 0);" valign="top"><table width="120" border="0" cellpadding="0" cellspacing="0">
<tr>
<td rowspan="2" class="mkauth04" width="4"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
<td class="mkauth04">(=) Valor Cobrado </td>
</tr>
<tr>
<td class="mkauth05" align="right">&nbsp;</td>
</tr>
</table></td>
</tr>
</table>
<table style="border-bottom: 1px solid rgb(0, 0, 0);" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth04"> Pagador </td>
</tr>
<tr>
<td class="mkauth05">{SACADO_NOME} - {TIPO_PSACADO} {SACADO_CPF}<br>
{SACADO_ENDERECO1} <br>
{SACADO_ENDERECO2} </td>
</tr>
<tr>
<td class="mkauth04"> Pagador/Avalista </td>
</tr>

<!-- BEGIN BLOCK_AVALISTA -->
<tr>
<td class="mkauth05"> {SACADO_AVALISTA} </td>
</tr>
<!-- END BLOCK_AVALISTA -->

</table></td>
</tr>
</table>
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td height="5" align="left"></td>
</tr>
</table>
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td nowrap="nowrap" width="1%"> {BOLETO_BARCODE2} </td>
<td align="center" class="mkauth04">Autenticação Mecânica <br /><strong>Ficha de Compensação</strong></td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
<tr>
<td height="10"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="1" height="1"></td>
</tr>
</table>
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="mkauth01" align="right">corte na linha pontilhada</td>
</tr>
</table>
<br>
<br>
</td>
</tr>
</table>
