RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^2_via.php /central/2_via.hhvm [QSA,L]
RewriteRule ^atualizar_dados.php /central/atualizar_dados.hhvm [QSA,L]
RewriteRule ^baixar.php /central/baixar.hhvm [QSA,L]
RewriteRule ^busca_cep.php /central/busca_cep.hhvm [QSA,L]
RewriteRule ^card_crypt.php /central/card_crypt.hhvm [QSA,L]
RewriteRule ^comprovante.php /central/comprovante.hhvm [QSA,L]
RewriteRule ^disco_virtual.php /central/disco_virtual.hhvm [QSA,L]
RewriteRule ^down.php /central/down.hhvm [QSA,L]
RewriteRule ^down_lgpd.php /central/down_lgpd.hhvm [QSA,L]
RewriteRule ^downloads.php /central/downloads.hhvm [QSA,L]
RewriteRule ^executar_central.php /central/executar_central.hhvm [QSA,L]
RewriteRule ^executar_login.php /central/executar_login.hhvm [QSA,L]
RewriteRule ^executar_senha.php /central/executar_senha.hhvm [QSA,L]
RewriteRule ^fale_conosco.php /central/fale_conosco.hhvm [QSA,L]
RewriteRule ^faturas.php /central/faturas.hhvm [QSA,L]
RewriteRule ^foto.php /central/foto.hhvm [QSA,L]
RewriteRule ^gera_contrato.php /central/gera_contrato.hhvm [QSA,L]
RewriteRule ^index.php /central/index.hhvm [QSA,L]
RewriteRule ^login.php /central/login.hhvm [QSA,L]
RewriteRule ^nota_fiscal.php /central/nota_fiscal.hhvm [QSA,L]
RewriteRule ^pay_pix.php /central/pay_pix.hhvm [QSA,L]
RewriteRule ^prepara_boleto.php /central/prepara_boleto.hhvm [QSA,L]
RewriteRule ^prepara_carne.php /central/prepara_carne.hhvm [QSA,L]
RewriteRule ^prepara_cartao.php /central/prepara_cartao.hhvm [QSA,L]
RewriteRule ^recibo.php /central/recibo.hhvm [QSA,L]
RewriteRule ^relatorio.php /central/relatorio.hhvm [QSA,L]
RewriteRule ^servicos.php /central/servicos.hhvm [QSA,L]
RewriteRule ^suporte.php /central/suporte.hhvm [QSA,L]
RewriteRule ^trocar_senha.php /central/trocar_senha.hhvm [QSA,L]
RewriteRule ^webcam.php /central/webcam.hhvm [QSA,L]
