<div class="capa">
  <img class="logo" src="{PROVEDORLOGO}"/>
  <h1 class="carne">CARNÊ DE PAGAMENTO</h1>
  <h1 class="provedorNome">{PROVEDORNOME}</h1>
  <div class="provedorDados">
    <p>beneficiário <br>
      {PROVEDORNOME} <br>
       {PROVEDORENDERECO} <br>
       {PROVEDORBAIRRO} - {PROVEDORCIDADE} - {PROVEDORESTADO} <br>
       Fone: {PROVEDORFONE} - CEP: {PROVEDORCEP}</p>
  </div>
  <div class="pagador">
    <p>DESTINATÁRIO <br>
      {SACADO_NOME} <br>
      {SACADO_ENDERECO} - {SACADO_COMPLEMENTO} <br>
      {SACADO_BAIRRO} - {SACADO_CIDADE} - {SACADO_ESTADO} <br>
      CEP: {SACADO_CEP}</p>
  </div>
</div>