RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^index.php /admin/index.hhvm [QSA,L]
RewriteRule ^login.php /admin/login.hhvm [QSA,L]
RewriteRule ^menu.js.php /admin/menu.js.hhvm [QSA,L]
