<!-- BEGIN BLOCK_AVALISTA -->
<!-- END BLOCK_AVALISTA -->

<div class="custom">
<table width="666" border="0" cellPadding="0" cellSpacing="0" class="pnFatura2Via">
<tr>
<td align="middle"><img src="{PROVEDORLOGO}" style="max-height: 75px" hspace="5" vspace="5" /></td>
<td align="middle"><span class="label11"> {PROVEDORNOME} </span> <BR>
<span class="labels">CNPJ {PROVEDORCPF} </span> <BR>
<span class="labels"> {PROVEDORENDERECO} - {PROVEDORBAIRRO} <br>
CEP {PROVEDORCEP} - {PROVEDORCIDADE} - {PROVEDORESTADO}</span> </td>
<td align="middle">

<!-- BEGIN BLOCK_COMLOGOSVA -->
<img src="{LOGOSVA}" style="max-height: 75px" hspace="5" vspace="5" />
<!-- END BLOCK_COMLOGOSVA -->

<!-- BEGIN BLOCK_SEMLOGOSVA -->
<table id="Table1" width="100%">
<tr>
<td><span> Dados do Titulo </span> </td>
</tr>
<tr>
<td><span> NÚMERO: {NUMERO_DOCUMENTO} </span></td>
</tr>
</table>
<!-- END BLOCK_SEMLOGOSVA -->

</td>
</tr>
</table>
<table width="666" border="0" cellPadding="3" cellSpacing="0" class="pnFatura2Via2">
<tr>
<td colSpan="2" align="center" class="tabBottom"><SPAN><strong>DADOS PARA ENTREGA</strong></SPAN> </td>
</tr>
<tr>
<td class="tabBottom" colSpan="2"><table id="Table3" border="0" cellSpacing="2" cellPadding="2" width="100%">
<tr>
<td><span class="labels">NOME:</span> </td>
<td colspan="3" class="labelsBold"><span> {SACADO_IDNOME} </span> </td>
</tr>

<tr>
<td><span class="labels">ENDERE&Ccedil;O:</span> </td>
<td class="labelsBold"><span> {SACADO_ENDERECO} </span> </td>
<td><span style="WIDTH: 50px; DISPLAY: inline-block" class="labels">COMPL:</span> </td>
<td width="110" class="labelsBold"><span> {SACADO_COMPLEMENTO} </span> </td>
</tr>

<tr>
<td><span class="labels">BAIRRO:</span> </td>
<td class="labelsBold" width="320"><span> {SACADO_BAIRRO} </span> </td>
<td><span style="WIDTH: 50px; DISPLAY: inline-block" class="labels">CEP:</span> </td>
<td class="labelsBold"><span> {SACADO_CEP} </span> </td>
</tr>

<tr>
<td><span class="labels">MUNICÍPIO:</span> </td>
<td class="labelsBold"><span> {SACADO_CIDADE} </span> </td>
<td><span class="labels">ESTADO:</span> </td>
<td class="labelsBold"> {SACADO_ESTADO} </td>
</tr>
</table>
</td>
</tr>

<tr>
<td class="tabBottom" colSpan="2">
<table id="Table11" border="0" cellspacing="2" cellpadding="2" width="100%">
<tr>
<td width="1%"><span style="WIDTH: 110px; DISPLAY: inline-block" class="labels"> TÍTULO / NN: </span> </td>
<td align="left" class="labelsBold"><span> {TITULONN} </span> <span class="labels"></span></td>
<td><span class="labels">VENCIMENTO ORIGINAL:</span> </td>
<td width="110" align="left" class="labelsBold"><span> {DATA_ORIGINAL} </span> </td>
</tr>

<tr>
<td><span class="labels">CPF:</span> </td>
<td class="labelsBold"><span> {SACADO_CPF} </span> </td>
<td><span class="labels">PROCESSAMENTO:</span> </td>
<td class="labelsBold"><span> {DATA_PROC} </span> </td>
</tr>
</table>
</td>
</tr>

<tr>
<td class="tabBottom" colSpan="2"><table id="Table4" border="0" cellSpacing="0" cellPadding="2" width="100%">
<tr>
<td width="55%" align="middle"><SPAN>RESUMO DOS ACESSOS</SPAN> </td>
<td align="middle"><SPAN>RESUMO DAS MOVIMENTAÇÕES (R$)</SPAN> </td>
</tr>
</table>
</td>
</tr>

<tr>
<td class="tabBottomRight" width="55%" align="left"><table id="Table5" border="0" cellSpacing="0" cellPadding="2" width="100%">
<tr>
<td width="40%"></td>
<td width="30%" align="middle"><span> {MESANO_ANT} </span> </td>
<td align="middle"><span> {MESANO_ATUAL} </span> </td>
</tr>

<tr>
<td><SPAN class="labels">DADOS TRAFEGADOS</SPAN> </td>
<td class="labelsBold" align="middle"><span> {DADOS_ANT} </span> </td>
<td class="labelsBold" align="middle"><span> {DADOS_ATUAL} </span> </td>
</tr>

<tr>
<td><SPAN class="labels">NUMERO DE CONEXÕES </SPAN> </td>
<td class="labelsBold" align="middle"><span> {CONEXOES_ANT} </span> </td>
<td class="labelsBold" align="middle"><span> {CONEXOES_ATUAL} </span> </td>
</tr>

<tr>
<td><SPAN class="labels">CHAMADOS SUPORTE </SPAN> </td>
<td class="labelsBold" align="middle"><span> {CHAMADOS_ANT} </span> </td>
<td class="labelsBold" align="middle"><span> {CHAMADOS_ATUAL} </span> </td>
</tr>

<tr>
<td><SPAN class="labels">CONTAS DE ACESSO </SPAN> </td>
<td class="labelsBold" align="middle"><span> {CONTAS_ANT} </span> </td>
<td class="labelsBold" align="middle"><span> {CONTAS_ATUAL} </span> </td>
</tr>

<tr>
<td><SPAN class="labels">TEMPO TOTAL DE USO </SPAN> </td>
<td class="labelsBold" align="middle"><span> {TEMPO_ANT} </span> </td>
<td class="labelsBold" align="middle"><span> {TEMPO_ATUAL} </span> </td>
</tr>
</table>
</td>

<td class="tabBottom" vAlign="top" rowSpan="3"><table id="tbValores" border="0" cellSpacing="0" cellPadding="2" width="100%">
<tr>
<td class="labels"> {MOVIMENTO} </td>
<td class="labelsBold" align="right"> {VALOR_COBRADO} </td>
</tr>
<tr>
<td class="labels">taxa de cobrança </td>
<td class="labelsBold" align="right"> {TAXA_BOLETO} </td>
</tr>

<!-- BEGIN BLOCK_KK -->
<!-- BEGIN BLOCK_DADOSKK -->

<tr>
<td class="labels"> {KKNOME} </td>
<td class="labelsBold" align="right"> {KKVALOR} </td>
</tr>

<!-- END BLOCK_DADOSKK -->
<!-- END BLOCK_KK -->

<!-- BEGIN BLOCK_K -->
<!-- BEGIN BLOCK_DADOSK -->

<tr>
<td class="labels"> {KNOME} </td>
<td class="labelsBold" align="right"> {KVALOR} </td>
</tr>

<!-- END BLOCK_DADOSK -->
<!-- END BLOCK_K -->

<!-- BEGIN BLOCK_Z -->
<!-- BEGIN BLOCK_DADOSZ -->

<tr>
<td class="labels"><font color="#006699"> {ZNOME} </font></td>
<td class="labelsBold" align="right"><font color="#006699"> {ZVALOR} </font></td>
</tr>

<!-- END BLOCK_DADOSZ -->
<!-- END BLOCK_Z -->

<tr>
<td class="labels">multa e mora atualizada</td>
<td class="labelsBold" align="right"> {MULTA_MORA} </td>
</tr>

<!-- BEGIN BLOCK_REFERENCIA -->
<tr>
<td class="labels">referente ao m&ecirc;s</td>
<td class="labelsBold" align="right"> {REFERENCIA} </td>
</tr>
<!-- END BLOCK_REFERENCIA -->
</table>
</td>
</tr>

<tr>
<td class="tabBottomRight" align="middle"><SPAN>DEMONSTRATIVO </SPAN> </td>
</tr>
<tr>
<td class="tabBottomRight" align="middle"><span class="labels">
{DEMONSTRATIVO1} <BR>
{DEMONSTRATIVO2} <BR>
{DEMONSTRATIVO3} <BR>
{DEMONSTRATIVO4} </span></td>
</tr>
<tr>
<td class="tabBottom" colSpan="2"><table id="Table9" border="0" cellSpacing="0" cellPadding="2" width="100%">
<tr>
<td width="55%" align="middle"><SPAN class="labels">AUTENTICAÇÃO MECANICA</SPAN> </td>
<td align="left" bgcolor="#ffffcc"><SPAN class="labels">TOTAL A PAGAR (R$) </SPAN> </td>
<td align="right" bgcolor="#ffffcc" class="labelsBold"><SPAN> {VALOR_BOLETO} </SPAN> </td>
</tr>
</table>
</td>
</tr>
</table>
<hr>

<table width="666" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="150">{LOGOMARCA}</td>
<td valign="bottom"><h1> | {CODIGO_BANCO_COM_DV} | </h1>
<h2>{LINHA_DIGITAVEL}</h2></td>
</tr>
</table>

<table width="666" class="tab ficha">
<tr>
<td colspan="6">Local de Pagamento<br>
<span> {LOCAL_PAGAMENTO} </span></td>
<td>Vencimento<br>
<span class="vV lD"> {DATA_VENC} </span></td>
</tr>

<tr>
<td colspan="6">Beneficiário<br>
<span> {CEDENTE} </span></td>
<td> Agência/Código do Beneficiário <br>
<span class="lD"> {AGENCIA_CODIGO} </span></td>
</tr>

<tr>
<td>Data<br>
<span> {DATA_DOCUMENTO} </span></td>
<td colspan="2">N<u>o</u> documento<br>
<span> {NUMERO_DOCUMENTO} </span></td>
<td>Tipo DOC<br>
<span> {ESPECIE_DOC} </span></td>
<td>Aceite<br>
<span>N</span></td>
<td>Processamento<br>
<span> {DATA_PROC} </span></td>
<td>Nosso Número<br>
<span class="lD"> {NOSSO_NUMERO} </span></td>
</tr>

<tr>
<td>Uso do Banco<br>
<span>&nbsp;</span></td>
<td>CIP<br>
<span>&nbsp;</span></td>
<td>Carteira<br>
<span> {CARTEIRA} {VAR_CARTEIRA} </span></td>
<td>Espécie<br>
<span> {ESPECIE} </span></td>
<td>Quantidade<br>
<span><!-- {QUANTIDADE} --></span></td>
<td>(x) Valor<br>
<span><!-- {VALOR_UNITARIO} --></span></td>
<td>(=) Valor<br>
<span class="vV lD"> {VALOR_BOLETO} </span></td>
</tr>
<tr>
<td rowspan="5" colspan="4"> Instruções de responsabilidade do Beneficiário.<br />
Qualquer dúvida contate o beneficiário. <br>
<span>

<!-- BEGIN BLOCK_INSTAUTO -->
{TEXTO_MULTAMORA} <br />
<!-- END BLOCK_INSTAUTO -->
{INSTRUCOES1} <br />
{INSTRUCOES2} <br />
{INSTRUCOES3} <br />
{INSTRUCOES4} <br />
{INSTRUCOES5} <br />
</span></td>
<td rowspan="5" colspan="2">
<img src="{QRCODE}" hspace="1" vspace="1" />
</td>
<td>(-) Desconto / Abatimentos<br>
<span class="lD">&nbsp;</span></td>
</tr>
<tr>
<td>(-) Outras Deduções<br>
<span class="lD">&nbsp;</span></td>
</tr>
<tr>
<td>(+) Mora/Multa<br>
<span class="lD">&nbsp;</span></td>
</tr>
<tr>
<td>(+) Outros Acréscimos<br>
<span class="lD">&nbsp;</span></td>
</tr>
<tr>
<td>(=) Valor Cobrado<br>
<span class="vV lD">&nbsp;</span></td>
</tr>
<tr>
<td colspan="7"><table width="666" class="infRec">
<tr>
<td width="1%" class="sacAv">Pagador</td>
<td><span>{SACADO_NOME} - {TIPO_PSACADO} {SACADO_CPF}<br>
{SACADO_ENDERECO} - {SACADO_BAIRRO} - {SACADO_COMPLEMENTO}<br>
{SACADO_CIDADE} - {SACADO_ESTADO} - CEP: {SACADO_CEP}</span></td>
</tr>
</table></td>
</tr>
</table>
<table width="666" border="0" cellPadding="0" cellSpacing="0">
<tr>
<td colspan="2" height="2"></td>
</tr>
<tr>
<td nowrap="nowrap" width="1%">{BOLETO_BARCODE2}</td>
<td><DIV align="center">Autenticação mecânica <br />
<strong>Ficha de Compensação</strong></DIV></td>
</tr>
</table>
</div>
