<!-- BEGIN BLOCK_AVALISTA -->
<!-- END BLOCK_AVALISTA -->
<!-- BEGIN BLOCK_COMLOGOSVA -->
<!-- END BLOCK_COMLOGOSVA -->
<!-- BEGIN BLOCK_SEMLOGOSVA -->
<!-- END BLOCK_SEMLOGOSVA -->
<!-- BEGIN BLOCK_KK -->
<!-- BEGIN BLOCK_DADOSKK -->
<!-- END BLOCK_DADOSKK -->
<!-- END BLOCK_KK -->
<!-- BEGIN BLOCK_K -->
<!-- BEGIN BLOCK_DADOSK -->
<!-- END BLOCK_DADOSK -->
<!-- END BLOCK_K -->
<!-- BEGIN BLOCK_Z -->
<!-- BEGIN BLOCK_DADOSZ -->
<!-- END BLOCK_DADOSZ -->
<!-- END BLOCK_Z -->

<table cellspacing="0" cellpadding="0" width="666" border="0">
	<tr>
		<td class="cp" width="150">{LOGOMARCA}</td>
		<td width="3" valign="bottom"><img height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATAQMAAACA8k5ZAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="2" border="0"></td>
		<td class="cpt" width="60" valign="bottom"><div align="center"> <font class="bc">{CODIGO_BANCO_COM_DV}</font> </div></td>
		<td width="3" valign="bottom"><img height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATAQMAAACA8k5ZAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="2" border="0"></td>
		<td align="right" width="453" valign="bottom"><div align="right"><strong> RECIBO DO PAGADOR </strong></div></td>
	</tr>
	<tr>
		<td colspan="5"><img height="2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="666" border="0"></td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" height="100%"> Beneficiário </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="134" height="100%"> Agência/Código do Beneficiário </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="180" height="100%"> Vencimento </td>
	</tr>
	<tr>
		<td class="cp" valign="top" width="7" height="22"><IMG height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" height="22"><SPAN class="campo"> {CEDENTE} <br />
			{PROVEDORENDERECO} CEP: {PROVEDORCEP} </SPAN></td>
		<td class="cp" valign="top" width="7" height="22"><IMG height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="134" height="22"><SPAN class="campo"> {AGENCIA_CODIGO} </SPAN></td>
		<td class="cp" valign="top" width="7" height="22"><IMG height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="180" height="22"><SPAN class="campo"> {DATA_VENC} </SPAN></td>
	</tr>
	<tr>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="100%" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="134" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="134" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" colspan="3" height="100%"> Número do documento </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="132" height="100%"> CPF/CNPJ do Beneficiário </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="134" height="100%"> Nosso número </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="180" height="100%"> Valor documento </td>
	</tr>
	<tr>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" colspan="3" height="15"><SPAN class="campo"> {NUMERO_DOCUMENTO} </SPAN></td>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="132" height="15"><SPAN class="campo"> {PROVEDORCPF} </SPAN></td>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="134" height="15"><SPAN class="campo"> {NOSSO_NUMERO} </SPAN></td>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="180" height="15"><SPAN class="campo"> {VALOR_BOLETO} </SPAN></td>
	</tr>
	<tr>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="113" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="113" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="72" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="72" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="132" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="132" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="134" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="134" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="73" height="100%"> (-) Desconto </td>
		<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="152" height="100%"> (-) Outras deduções / Abatimentos </td>
		<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="113" height="100%"> (+) Mora / Multa / Juros </td>
		<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="113" height="100%"> (+) Outros acréscimos </td>
		<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="180" height="100%"> (=) Valor cobrado </td>
	</tr>
	<tr>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="73" height="15"></td>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="152" height="15"></td>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="113" height="15"></td>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="113" height="15"></td>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="180" height="15"></td>
	</tr>
	<tr>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="73" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="73" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="152" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="152" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="113" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="113" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="113" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="113" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="659" height="100%"> Pagador </td>
	</tr>
	<tr>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="659" height="15"><span class="campo"> {SACADO_NOME} - {SACADO_CPF2} </span></td>
	</tr>
	<tr>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="659" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="659" border="0"></td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="ct" width="7" height="15"></td>
		<td class="ct" width="500"> Demonstrativo </td>
		<td class="ct" width="7" height="15"></td>
		<td class="ct" width="152"> Autenticação mecânica </td>
	</tr>
	<tr>
		<td  width="7"></td>
		<td class="cp" width="500"><span class="campo">{DEMONSTRATIVO1} <BR>
			{DEMONSTRATIVO2} <BR>
			{DEMONSTRATIVO3} <BR>
			{DEMONSTRATIVO4} </span></td>
		<td  width="7"></td>
		<td  width="152"></td>
	</tr>
</table>
<table cellspacing="0" cellpadding="0" width="666" border="0">
	<tr>
		<td width="7"></td>
		<td width="500" class="cp"></td>
		<td width="159"></td>
	</tr>
</table>
<table cellspacing="0" cellpadding="0" width="666" border="0">
	<tr>
		<td class="ct" width="666"></td>
	</tr>
	<tr>
		<td class="ct" width="666"><div align="right"> Corte na linha pontilhada </div></td>
	</tr>
	<tr>
		<td class="ct" width="666"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAApkAAAACAQAAAAA76vpWAAAAGUlEQVR42mNgbDiQYCDBw8ZMPUYDAy0MBQCvGyXfT4/GUQAAAABJRU5ErkJggg==" width="665" border="0"></td>
	</tr>
</table>
<br />
<table cellspacing="0" cellpadding="0" width="666" border="0">
	<tr>
		<td class="cp" width="150">{LOGOMARCA}</td>
		<td width="3" valign="bottom"><IMG height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATAQMAAACA8k5ZAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="2" border="0"></td>
		<td class="cpt" width="60" valign="bottom"><div align="center"> <FONT class="bc"> {CODIGO_BANCO_COM_DV} </FONT> </div></td>
		<td width="3" valign="bottom"><IMG height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATAQMAAACA8k5ZAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="2" border="0"></td>
		<td class="ld" align="right" width="453" valign="bottom"><SPAN class="ld"> {LINHA_DIGITAVEL} </SPAN> </td>
	</tr>
	<tr>
		<td colspan="5"><IMG height="2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="666" border="0"></td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="472" height="100%"> Local de pagamento </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="180" height="100%"> Vencimento </td>
	</tr>
	<tr>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="472" height="15"> {LOCAL_PAGAMENTO} </td>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="180" height="15"><SPAN class="campo"> {DATA_VENC} </SPAN> </td>
	</tr>
	<tr>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="472" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="472" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" height="100%"> Beneficiário </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="128" height="100%"> CPF/CNPJ do Beneficiário </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="180" height="100%"> Agência/Código do Beneficiário </td>
	</tr>
	<tr>
		<td class="cp" valign="top" width="7" height="22"><IMG height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" height="22"><SPAN class="campo"> {CEDENTE} <br />
			{PROVEDORENDERECO} CEP: {PROVEDORCEP} </SPAN></td>
		<td class="cp" valign="top" width="7" height="22"><IMG height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="128" height="22"><SPAN class="campo"> {PROVEDORCPF} </SPAN></td>
		<td class="cp" valign="top" width="7" height="22"><IMG height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="180" height="22"><SPAN class="campo"> {AGENCIA_CODIGO} </SPAN></td>
	</tr>
	<tr>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="100%" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="128" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="128" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="113" height="100%"> Data do documento </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" height="100%"> Número do Documento </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="67" height="100%"> Espécie doc. </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="34" height="100%"> Aceite </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="87" height="100%"> Data processamento </td>
		<td class="ct" valign="top" width="7" height="100%"><IMG height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="180" height="100%"> Nosso número </td>
	</tr>
	<tr>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="113" height="15"><div align="left"> <SPAN class="campo"> {DATA_DOCUMENTO} </SPAN> </div></td>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" height="15"><SPAN class="campo"> {NUMERO_DOCUMENTO} </SPAN> </td>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="67" height="15"><div align="left"> <SPAN class="campo"> {ESPECIE_DOC} </SPAN> </div></td>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="34" height="15"><div align="left"> <SPAN class="campo"> N </SPAN> </div></td>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="87" height="15"><div align="left"> <SPAN class="campo"> {DATA_PROC} </SPAN> </div></td>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="180" height="15"><SPAN class="campo"> {NOSSO_NUMERO} </SPAN> </td>
	</tr>
	<tr>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="113" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="113" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="100%" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="67" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="67" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="34" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="34" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="87" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="87" border="0"></td>
		<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
	</tr>
</table>
<table width="666" border=0 cellpadding=0 cellspacing=0>
	<tr>
		<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" colspan="3" height="100%"> Uso do banco </td>
		<td class="ct" valign="top" height="100%" width="7"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="83" height="100%"> Carteira </td>
		<td class="ct" valign="top" height="100%" width="7"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="73" height="100%"> Espécie moeda </td>
		<td class="ct" valign="top" height="100%" width="7"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="88" height="100%"> Quantidade moeda </td>
		<td class="ct" valign="top" height="100%" width="7"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="87" height="100%"> Valor </td>
		<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="180" height="100%"> (=) Valor documento </td>
	</tr>
	<tr>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" height="15" colspan="3"></td>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="83"><div align=left> <span class="campo"> {CARTEIRA} {VAR_CARTEIRA} </span></div></td>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="73"><div align=left><span class="campo"> {ESPECIE} </span> </div></td>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="88"></td>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="87"></td>
		<td class="cp" valign="top" width="7" height="15"><img height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" align="right" width="180" height="15"><span class="campo"> {VALOR_BOLETO} </span></td>
	</tr>
	<tr>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="75" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="75" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="31" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="31" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="83" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="83" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="73" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="73" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="88" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="88" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="87" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="87" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
	</tr>
</table>
<table width="666" border=0 cellpadding=0 cellspacing=0>
	<tr>
		<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td valign="top"><table width="100%">
				<tr>
					<td valign="top"><FONT class="ct"> Instruções (Texto de responsabilidade do Beneficiário) . </FONT> <br />
						<SPAN class="cp"><FONT class="campo">
						<!-- BEGIN BLOCK_INSTAUTO -->
						{TEXTO_MULTAMORA} <br />
						<!-- END BLOCK_INSTAUTO -->
						{INSTRUCOES1} <br />
						{INSTRUCOES2} <br />
						{INSTRUCOES3} <br />
						{INSTRUCOES4} <br />
						{INSTRUCOES5} <br />
						<!-- BEGIN BLOCK_REFERENCIA -->
						referente ao m&ecirc;s {REFERENCIA} <br />
						<!-- END BLOCK_REFERENCIA -->
						</FONT></SPAN> </td>
				</tr>
			</table></td>
		<td width="180"><table cellspacing="0" cellpadding="0" border="0">
				<tr>
					<td align="right"><table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
								<td class="ct" valign="top" width="180" height="13"> (-) Desconto </td>
							</tr>
							<tr>
								<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
								<td class="cp" valign="top" align="right" width="180" height="15"></td>
							</tr>
							<tr>
								<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
								<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td align="right"><table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
								<td class="ct" valign="top" width="180" height="13"> (-) Outras deduções / Abatimentos </td>
							</tr>
							<tr>
								<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
								<td class="cp" valign="top" align="right" width="180" height="15"></td>
							</tr>
							<tr>
								<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
								<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td align="right"><table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
								<td class="ct" valign="top" width="180" height="13"> (+) Mora / Multa / Juros </td>
							</tr>
							<tr>
								<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
								<td class="cp" valign="top" align="right" width="180" height="15"></td>
							</tr>
							<tr>
								<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
								<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td align="right"><table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
								<td class="ct" valign="top" width="180" height="13"> (+) Outros acréscimos </td>
							</tr>
							<tr>
								<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
								<td class="cp" valign="top" align="right" width="180" height="15"></td>
							</tr>
							<tr>
								<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
								<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
							</tr>
						</table></td>
				</tr>
				<tr>
					<td align="right"><table cellspacing="0" cellpadding="0" border="0">
							<tr>
								<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
								<td class="ct" valign="top" width="180" height="13"> (=) Valor cobrado </td>
							</tr>
							<tr>
								<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
								<td class="cp" valign="top" align="right" width="180" height="15"></td>
							</tr>
						</table></td>
				</tr>
			</table></td>
	</tr>
</table>
<table cellspacing="0" cellpadding="0" width="666" border="0">
	<tr>
		<td valign="top" width="666" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="666" border="0"></td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="ct" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="659" height="15"> Pagador </td>
	</tr>
	<tr>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="659" height="15"><SPAN class="campo">{SACADO_NOME} - {TIPO_PSACADO} {SACADO_CPF2}</SPAN> </td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="cp" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="659" height="15"><SPAN class="campo"> {SACADO_ENDERECO} - {SACADO_BAIRRO} - {SACADO_COMPLEMENTO} </SPAN> </td>
	</tr>
</table>
<table width="666" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td class="ct" valign="top" width="7" height="15"><IMG height="15" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td width="659" height="15" valign="top" class="cp"><SPAN class="campo"> {SACADO_CIDADE} - {SACADO_ESTADO} - CEP: {SACADO_CEP} </SPAN> </td>
	</tr>
</table>
<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td height="13" valign="top" class="ct">Pagador/Avalista</td>
		<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="180" height="13"></td>
	</tr>
	<tr>
		<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="cp" valign="top" width="472" height="13"> {SACADO_AVALISTA} </td>
		<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
		<td class="ct" valign="top" width="180" height="13">Cód. baixa</td>
	</tr>
	<tr>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="472" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="472" border="0"></td>
		<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
		<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
	</tr>
</table>

<table cellSpacing="0" cellPadding="0" border="0" width="666">
<tr>
<td colspan="2" height="2"></td>
</tr>

<tr>
<td class="ct" nowrap="nowrap" width="1%"> {BOLETO_BARCODE2} </td>
<td class="ct"><DIV align="center">Autenticação mecânica <br />
<b class="cp">Ficha de Compensação</strong></DIV></td>
</tr>

<tr>
<td class="ct" colspan="3"></td>
</tr>
</table>