
<table width="666" cellspacing="0" cellpadding="0" border="0">
<tr>
<td valign="top" class="cp"><div ALIGN="CENTER">Instruções de Impressão</div></td>
<td rowspan="2" valign="top"><img src="{QRCODE}" hspace="1" vspace="1" /></td>
</tr>

<tr>
<td valign="top" class="cp">
<div ALIGN="left">
<li>Imprima em impressora jato de tinta ou laser em qualidade normal ou alta.<br />
<li>Utilize folha A4 (210 x 297 mm) e margens mínimas à esquerda e à direita do formulário.<br />
<li>Corte na linha indicada. Não rasure, risque, fure ou dobre a região onde se encontra o código de barras.<br />
<li>Caso não apareça o código de barras no final, clique em F5 para atualizar esta tela.
<li>Caso tenha problemas ao imprimir, use a seqüencia numérica abaixo para pagar no caixa eletrônico ou internet banking:<br /><br />
<SPAN class="ld2">Linha digitável: {LINHA_DIGITAVEL}<br />
Valor: R$ {VALOR_BOLETO}</SPAN></div></td>
</tr>
</table>

<br />

<table cellspacing="0" cellpadding="0" width="666" border="0">
<tr>
<td class="ct" width="666"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAApkAAAACAQAAAAA76vpWAAAAGUlEQVR42mNgbDiQYCDBw8ZMPUYDAy0MBQCvGyXfT4/GUQAAAABJRU5ErkJggg==" width="665" border="0"></td>
</tr>
</table>

<br />

<table cellspacing="0" cellpadding="0" width="666" border="0">
<tr>
<td class="cp" width="150">{LOGOMARCA}</td>
<td width="3" valign="bottom"><img height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATAQMAAACA8k5ZAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="2" border="0"></td>
<td class="cpt" width="60" valign="bottom"><div align="center"> <font class="bc"> {CODIGO_BANCO_COM_DV} </font> </div></td>
<td width="3" valign="bottom"><img height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATAQMAAACA8k5ZAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="2" border="0"></td>
<td align="right" width="453" valign="bottom"><div align="right"> <b class="ld"> RECIBO DO PAGADOR </b></strong> </div></td>
</tr>

<tr>
<td colspan="5"><img height="2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="666" border="0"></td>
</tr>
</table>

<table width="666" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" height="13">Beneficiário</td>
<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="126" height="13"> Agência/Código do Beneficiário </td>
<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">Nosso número</td>
</tr>

<tr>
<td class="cp" valign="top" width="7" height="12"><IMG height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" height="12"><SPAN class="campo"> {CEDENTE} </SPAN></td>
<td class="cp" valign="top" width="7" height="12"><IMG height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="126" height="12"><SPAN class="campo"> {AGENCIA_CODIGO} </SPAN></td>
<td class="cp" valign="top" width="7" height="12"><IMG height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"><SPAN class="campo"> {NOSSO_NUMERO} </SPAN></td>
</tr>

<tr>
<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="100%" border="0"></td>
<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="126" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="126" border="0"></td>
<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" colspan="3" height="13">Número do documento</td>
<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="132" height="13"> CPF/CNPJ do Beneficiário </td>
<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="113" height="13">Vencimento</td>
<td class="ct" valign="top" width="7" height="13"><IMG height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">Valor documento</td>
</tr>

<tr>
<td class="cp" valign="top" width="7" height="12"><IMG height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" colspan="3" height="12"><SPAN class="campo"> {NUMERO_DOCUMENTO} </SPAN></td>
<td class="cp" valign="top" width="7" height="12"><IMG height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="132" height="12"><SPAN class="campo"> {PROVEDORCPF} </SPAN></td>
<td class="cp" valign="top" width="7" height="12"><IMG height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="134" height="12"><SPAN class="campo"> {DATA_VENC} </SPAN></td>
<td class="cp" valign="top" width="7" height="12"><IMG height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"><SPAN class="campo"> {VALOR_BOLETO} </SPAN></td>
</tr>

<tr>
<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="113" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="113" border="0"></td>
<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="72" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="72" border="0"></td>
<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="132" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="132" border="0"></td>
<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="134" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="134" border="0"></td>
<td valign="top" width="7" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><IMG height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="113" height="13">(-) Desconto / Abatimentos</td>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="112" height="13">(-) Outras deduções</td>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="113" height="13">(+) Mora / Multa / Juros</td>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="113" height="13">(+) Outros acréscimos</td>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">(=) Valor cobrado</td>
</tr>

<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="113" height="12"></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="112" height="12"></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="113" height="12"></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="113" height="12"></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"></td>
</tr>

<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="113" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="113" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="112" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="112" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="113" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="113" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="113" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="113" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="659" height="13">Pagador</td>
</tr>

<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="659" height="12"><span class="campo"> {SACADO_NOME} - {SACADO_CPF} </span></td>
</tr>

<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="659" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="659" border="0"></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" width=7 height=12></td>
<td class="ct" width=500 >Demonstrativo</td>
<td class="ct" width=7 height=12></td>
<td class="ct" width=152 >Autenticação mecânica</td>
</tr>
<tr>
<td  width=7 ></td>
<td class="cp" width=500 ><span class="campo">{DEMONSTRATIVO1} <BR>
{DEMONSTRATIVO2} <BR>
{DEMONSTRATIVO3} <BR>
{DEMONSTRATIVO4} </span></td>
<td width=7 ></td>
<td width=152 ></td>
</tr>
</table>
<table cellspacing="0" cellpadding="0" width="666" border="0">
<tr>
<td width="7"></td>
<td width="500" class="cp"></td>
<td width="159"></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" width="666" border="0">
<tr>
<td class="ct" width="666"></td>
</tr>
<tr>
<td class="ct" width="666"><DIV align="right">Corte na linha pontilhada</DIV></td>
</tr>
<tr>
<td class="ct" width="666"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAApkAAAACAQAAAAA76vpWAAAAGUlEQVR42mNgbDiQYCDBw8ZMPUYDAy0MBQCvGyXfT4/GUQAAAABJRU5ErkJggg==" width="665" border="0"></td>
</tr>
</table>
<br />

<table cellspacing="0" cellpadding="0" width="666" border="0">
<tr>
<td class="cp" width="150">{LOGOMARCA}</td>
<td width="3" valign="bottom"><img height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATAQMAAACA8k5ZAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="2" border="0"></td>
<td class="cpt" width="58" valign="bottom"><DIV align="center"> <font class="bc"> {CODIGO_BANCO_COM_DV} </font> </DIV></td>
<td width="3" valign="bottom"><img height="22" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAATAQMAAACA8k5ZAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="2" border="0"></td>
<td class="ld" align="right" width="453" valign="bottom"><span class="ld"> <span class="campotitulo"> {LINHA_DIGITAVEL} </span> </span> </td>
</tr>
<tr>
<td colspan="5"><img height="2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="666" border="0"></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="472" height="13">Local de pagamento</td>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">Vencimento</td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="472" height="12"> {LOCAL_PAGAMENTO} </td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"><span class="campo"> {DATA_VENC} </span> </td>
</tr>

<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="472" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="472" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="472" height="13">Beneficiário</td>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">  Agência/Código do Beneficiário </td>
</tr>

<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="472" height="12"><span class="campo"> {CEDENTE} </span></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"><span class="campo"> {AGENCIA_CODIGO} </span></td>
</tr>

<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="472" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="472" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table>

<table width="666" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="113" height="100%">Data do documento</td>
<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" height="100%">Número do Documento</td>
<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="67" height="100%">Espécie doc.</td>
<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="34" height="100%">Aceite</td>
<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="87" height="100%">Data processamento</td>
<td class="ct" valign="top" width="7" height="100%"><img height="100%" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="100%">Nosso número</td>
</tr>

<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="113" height="12"><div align="left"> <span class="campo"> {DATA_DOCUMENTO} </span> </div></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" height="12"><span class="campo"> {NUMERO_DOCUMENTO} </span></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="67" height="12"><div align="left"> <span class="campo"> {ESPECIE_DOC} </span> </div></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="34" height="12"><div align="left"> <span class="campo">N</span> </div></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="87" height="12"><div align="left"> <span class="campo"> {DATA_PROC} </span></div></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"><span class="campo"> {NOSSO_NUMERO} </span> </td>
</tr>

<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="113" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="113" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="100%" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="67" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="67" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="34" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="34" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="87" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="87" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" colspan="3" height="13"> Uso do banco </td>
<td class="ct" valign="top" height="13" width="7"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="83" height="13"> Carteira </td>
<td class="ct" valign="top" height="13" width="7"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="53" height="13"> Espécie </td>
<td class="ct" valign="top" height="13" width="7"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="123" height="13"> Quantidade </td>
<td class="ct" valign="top" height="13" width="7"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="72" height="13"> Valor </td>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13"> (=) Valor documento </td>
</tr>

<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td valign="top" class="cp" height="12" colspan="3"><div align=left> </div></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="83"><div align=left> <span class="campo"> {CARTEIRA} {VAR_CARTEIRA} </span></div></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top"  width="53"><div align=left><span class="campo"> {ESPECIE} </span></div></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top"  width="123"><span class="campo"><!-- {QUANTIDADE} --></span></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top"  width="72"><span class="campo"><!-- {VALOR_UNITARIO} --></span></td>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"><span class="campo"> {VALOR_BOLETO} </span></td>
</tr>

<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="75" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="31" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="31" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="83" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="83" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="53" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="53" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="123" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="123" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="72" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="72" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" width="666" border="0">
<tr>
<td align="right" width="10"><table cellspacing="0" cellpadding="0" border="0" align="left">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
</tr>
<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="1" border="0"></td>
</tr>
</table>

</td>
<td valign="top" width="468" rowspan="5"><font class="ct"> Instruções de responsabilidade do Beneficiário. Qualquer dúvida sobre este boleto, contate o beneficiário. </font><br>
<span class="cp"><font class="campo">

<!-- BEGIN BLOCK_INSTAUTO -->
{TEXTO_MULTAMORA} <br />
<!-- END BLOCK_INSTAUTO -->
{INSTRUCOES1} <br />
{INSTRUCOES2} <br />
{INSTRUCOES3} <br />
{INSTRUCOES4} <br />
{INSTRUCOES5} <br />
<!-- BEGIN BLOCK_REFERENCIA -->
referente ao m&ecirc;s {REFERENCIA} <br />
<!-- END BLOCK_REFERENCIA -->

</font></span></td>
<td align="right" width="188">
<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">(-) Desconto / Abatimentos</td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"></td>
</tr>
<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table>
</td>
</tr>

<tr>
<td align="right" width="10"><table cellspacing="0" cellpadding="0" border="0" align="left">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
</tr>
<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="1" border="0"></td>
</tr>
</table></td>
<td align="right" width="188"><table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">(-) Outras deduções </td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"></td>
</tr>
<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table></td>
</tr>
<tr>
<td align="right" width="10"><table cellspacing="0" cellpadding="0" border="0" align="left">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
</tr>
<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="1" border="0"></td>
</tr>
</table></td>
<td align="right" width="188"><table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">(+)Mora / Multa</td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"></td>
</tr>
<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table></td>
</tr>
<tr>
<td align="right" width="10"><table cellspacing="0" cellpadding="0" border="0" align="left">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
</tr>
<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="1" border="0"></td>
</tr>
</table></td>
<td align="right" width="188"><table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">(+) Outros acréscimos</td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"></td>
</tr>
<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table></td>
</tr>

<tr>
<td align="right" width="10"><table cellspacing="0" cellpadding="0" border="0" align="left">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
</tr>
</table>
</td>

<td align="right" width="188">
<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">(=) Valor cobrado</td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" align="right" width="180" height="12"></td>
</tr>
</table>
</td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" width="666" border="0">
<tr>
<td valign="top" width="666" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="666" border="0"></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="659" height="13"> Pagador </td>
</tr>
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="659" height="12"><span class="campo"> {SACADO_NOME} - {TIPO_PSACADO} {SACADO_CPF} </span> </td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="cp" valign="top" width="7" height="12"><img height="12" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="659" height="12"><span class="campo"> {SACADO_ENDERECO} - {SACADO_BAIRRO} - {SACADO_COMPLEMENTO} </span></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td width="659" height="13" valign="top" class="cp"><span class="campo"> {SACADO_CIDADE} - {SACADO_ESTADO} - CEP: {SACADO_CEP} </span></td>
</tr>
</table>

<table cellspacing="0" cellpadding="0" border="0">
<!-- BEGIN BLOCK_AVALISTA -->
<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td height="13" valign="top" class="ct">Pagador/Avalista</td>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13"></td>
</tr>
<!-- END BLOCK_AVALISTA -->

<tr>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="cp" valign="top" width="472" height="13"> {SACADO_AVALISTA} </td>
<td class="ct" valign="top" width="7" height="13"><img height="13" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATAQMAAABrxfVaAAAAA1BMVEUAAACnej3aAAAADElEQVR42mNgIAYAAAAmAAEy2MJFAAAAAElFTkSuQmCC" width="1" border="0"></td>
<td class="ct" valign="top" width="180" height="13">Cód. baixa</td>
</tr>

<tr>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="472" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="472" border="0"></td>
<td valign="top" width="7" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="7" border="0"></td>
<td valign="top" width="180" height="1"><img height="1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAACklEQVR42mNgAAAAAgAB5Sfe/AAAAABJRU5ErkJggg==" width="180" border="0"></td>
</tr>
</table>

<table cellSpacing="0" cellPadding="0" border="0" width="666">
<tr>
<td colspan="2" height="2"></td>
</tr>

<tr>
<td class="ct" nowrap="nowrap" width="1%"> {BOLETO_BARCODE2} </td>
<td class="ct"><DIV align="center">Autenticação mecânica <br />
<b class="cp">Ficha de Compensação</strong></DIV></td>
</tr>

<tr>
<td class="ct" colspan="3"></td>
</tr>
</table>
